@model List<QuanLyKho.Models.ModelDB.Hang_Hoa>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDataTable.cshtml";
}

     <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Data Tables
        <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tables</a></li>
        <li class="active">Data tables</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <!-- /.box -->
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tên hàng hóa</th>   
                                <th>IsActive</th>
                                <th>Loại sản phẩm</th>
                                <th>Tên nhà cung cấp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Ten_Hang_Hoa</td>                            
                                    <td>@item.IsActive</td>
                                    <td>@item.Loai_SP.Ten_Loai</td>
                                    <td>@item.Nha_Cung_Cap.Ten_Nha_Cung_Cap</td>
                                    <td>@Html.ActionLink("Xóa", "Delete", new {id = item.Hang_Hoa_Id })|@Html.ActionLink("Sửa","Edit",new {id = item.Hang_Hoa_Id })</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tên hàng hóa</th>
                               
                                <th>IsActive</th>
                                <th>Loại sản phẩm</th>
                                <th>Tên nhà cung cấp</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script type="text/javascript">

      $(document).ready(function () {

          $("#example1").DataTable();
      });


</script>